/* 
header-bg-color: #6943FF
converter-matrix-bg-color: #1F2937
converter-section-title-color: #CCC1FF

*/

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
.convert-interface {
  width: 550px;
  height: 680px;
  background-color: #1f2937;
}

header {
  width: 550px;
  height: 285px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Inter", bold;
  background-color: #6c48fd;
  color: white;
  margin-top: -20px;
}

.input-digit {
  font-size: 58px;
  border: 2px solid #B295FF;
  border-radius: 10px;
  padding: 5px 20px 5px 20px;
}

.convert-matrix {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Inter", bold;
  color: #CCC1FF;
}

.convert-bg {
  height: 108px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: #273549;
}

.metrics-info {
  color: white;
}


